#!/bin/bash                                                                 
#~/.functions: short utility scripts 
printcf () {
  case $1 in
    "red") tput setaf 88;;
    "green") tput setaf 22;;
    "orange") tput setaf 166;;
    "blue") tput setaf 17;;
    "purple") tput setaf 97;;
    "cyan") tput setaf 75;;
    "gray" | "grey") tput setaf 245;;
    "lgray") tput setaf 251;;
  esac
  printf "$2";
  tput sgr0
}

trash (){
#  [[ -z $1 ]] && 
  sudo mv $1 ~/.Trash/$1 && printcf red "I've moved $1 to the trash."
  echo
}
