#!/bin/bash                                                                 
#~/.functions: short utility scripts 

#########################
#   Throw away things   #
#########################
# trash - moves items to Trash, asking for permission to overwrite files and 
# announcing when items have been successfully moved.

trash() {
# eventually create option menu based on ls -A ... [[ -z $1 ]] && 
  sudo mv -i $1 ~/.Trash/$1 && printcf red "I've moved $1 to the trash." 
  echo
}

# remove - recursively deletes up to 4 directories, then lists all items deleted in 
# well-formatted columns.
# remove foo/bar foo.txt bar/foo bar.pdf        # can also specify filenames instead of directories

remove() {
        printf "\n\t${norm}I've deleted these items: \n${mauve}"
        [[ ! -z "$4" ]] && printf "\n$(rm -rfv $4 | column -c `tput cols` | column -t | sed '1,$s/^/   /g')";
        [[ ! -z "$3" ]] && printf "\n$(rm -rfv $3 | column -c `tput cols` | column -t | sed '1,$s/^/   /g')";
        [[ ! -z "$2" ]] && printf "\n$(rm -rfv $2 | column -c `tput cols` | column -t | sed '1,$s/^/   /g')";
        printf "\n$(rm -rfv $1 | column -c `tput cols` | column -t | sed '1,$s/^/   /g')\n";
}
