#!/bin/bash                                                                 
#~/.functions: short utility scripts 

###########################
# Prints things in color  #
###########################
printcf () {
# Sets the colors.
    case $1 in
       "red") tput setaf 88;;
       "green") tput setaf 22;;
       "orange") tput setaf 166;;
       "blue") tput setaf 17;;
       "purple") tput setaf 97;;
       "cyan") tput setaf 75;;
       "gray" | "grey") tput setaf 245;;
       "lgray" | "lgrey") tput setaf 251;;
    esac
# Prints 2nd argument in the color
    printf "$2";
# Optional new line -- anything following the 2nd argument will trigger it
    [[ ! -z "$3" ]] && echo 
# Resets the color
    tput sgr0
}

#########################
#   Throw away things   #
#########################
trash (){
# eventually create option menu based on ls -A ... [[ -z $1 ]] && 
  sudo mv $1 ~/.Trash/$1 && printcf red "I've moved $1 to the trash." b
  echo
}
