#!/bin/bash
#~/.alias
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias grep='grep --color=auto'
alias all='ls -A'
alias ..='cd ..'
alias remove='sudo rm -rf'
alias install='sudo apt install'
alias dot='/usr/bin/git --git-dir=$HOME/.dot/ --work-tree=$HOME'
